{% extends "base.html" %}
{% load i18n mezzanine_tags staticfiles widget_tweaks %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block extra_css %}
{% endblock %}

{% block left-span-size %}sm-12{% endblock %}
{% block no_right_content %}{% endblock %}

{% block main_slider %}
    <div class="main forpage">
            <div class="wrap">
                
                <div class="subnavi">
                    <div class="bighead text-center">
                        <p class="bhp">HAVE <span class="whiti">QUESTIONS</span>? WE'VE GOT <span class="whiti">ANSWERS</span>.</p>
                        <p class="shpwhiti">Get answers to your questions from our Customer Happiness Team.</p>
                        <p class="shp">Five ways to get in touch!</p>
                    </div>                  
                </div>
                
            </div>
        </div>
{% endblock %}

{% if request.GET.sent %}
    <p>{{ page.form.response }}</p>
{% else %}
    {% block left_content %}
        {{ page.form.content|richtext_filters|safe }}
       <div id="form_div">
        <form method="post">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{hidden}}
                {% endfor %}
                
                        {% for vis in form.visible_fields %}


                                    <div class="form-group">
                                        {{ vis.label_tag }}{{ vis.errors }}<br>{{ vis.help_text }}
                                        {% render_field vis class="form-control" %}
                                    </div>

                                         
                        {% endfor %}
                    
                    <div class="col-sm-12 text-center">
                        <button id="sbmt_btn" type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> {{ page.form.button_text }}</button>
                    </div>
                
        </form>
        <div id="contact_methods">
            <h4>Get fast answers on Twitter: @spotlessgohar</h4>
            <hr>
            <h4>Email us directly at support@spotlessgohar.com for a speedy reply.</h4>
            <hr>
            <h4>On the run? Call us at 055 53 30 34. If you're looking for a quote please <a href="{% url 'page' 'table' %}">click here</a> to see our flat rate pricing!</h4>
            <hr>
            <h4>Chat live with one of our friendly folks!</h4>
        </div>
    </div>
    {% endblock %}
{% endif %}

