<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles accounts_tags widget_tweaks %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}

    <!-- core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "css/prettyPhoto.css" %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static "css/responsive.css" %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{% static "images/ico/favicon.ico" %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "images/ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "images/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "images/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "images/ico/apple-touch-icon-57-precomposed.png" %}">

{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.3.0.3.min.js' %}"></script>

{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}homepage{% endblock %}">



    <header id="header">


         <!-- *** LOGIN MODAL ***
_________________________________________________________ -->

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="Login">{% if request.user.is_authenticated %}{% trans "Hello" %} {{ request.user.username }}!{% else %}{% trans "Customer login" %}{% endif %}</h4>
                </div>
                <div class="modal-body">
                    {% if request.user.is_authenticated %}
                        
                        <a id="update_profile" href="{% url "profile_update" %}" class="btn btn-default center-block">{% trans "Update Profile" %}</a>
                        <hr>
                        <p class="text-center"><a class="center-block" href="{% url "logout" %}">Log out</a></p>
                    {% else %}
                        {% login_form as loginform %}
                        <form action="{% url "signup" %}" method="post">
                            
                            {% csrf_token %}
            
                            {% for hidden in loginform.hidden_fields %}
                               {{hidden}}
                            {% endfor %}
                            {% for vis in loginform.visible_fields %}
                                <div class="form-group">
                                    {{ vis.label_tag }}{{ vis.errors }}
                                    {% render_field vis class="form-control" %}
                                </div>
                            {% endfor %}
                            <input type="hidden" value="from_popup" name="from_popup" />
                            <p class="text-center">
                                <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                            </p>

                        </form>
                        <p class="text-center text-muted">Not registered yet?</p>
                        <p class="text-center text-muted"><a href="{% url "signup" %}"><strong>Register now</a>
                            </strong>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>
                    {% endif %}
                    

                </div>
            </div>
        </div>
    </div>

    <!-- *** LOGIN MODAL END *** -->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url "home" %}"><img src="{% static "images/logo.png" %}" alt="logo"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-left" style="margin-left:2em">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'page' 'about' %}">About Us</a></li>
                        <li><a href="{% url 'page' 'table' %}">Services</a></li>
                        <li><a href="{% url 'page' 'orderform' %}">Order</a></li>
                        <li><a href="{% url 'page' 'faq' %}">FAQ</a></li>
                        <li><a href="{% url 'blog_post_list' %}">Blog</a></li> 
                        <li><a href="{% url 'page' 'contact' %}">Contact</a></li>                        
                    </ul>
                </div>

                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" data-toggle="modal" data-target="#login-modal">
                                    <span class="sr-only">User login</span>
                                    <i class="fa fa-users"></i></a></li>
                            </ul>
                            
                       </div>
                
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header><!--/header-->

{% block main_slider %}
{% endblock main_slider %}

{% block feature %}
{% endblock feature %}

{% block recent-works %}
{% endblock recent-works %}

{% block services %}
{% endblock services %}

{% block pricing-page %}
{% endblock pricing-page %}

{% block middle %}
{% endblock middle %}

{% block content %}
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-{% block left-span-size %}sm-8{% endblock %} wow fadeInDown">
                    {% block left_content %}{% endblock %}
                </div>
                {% block no_right_content %}
                    <div class="col-xs-12 col-{% block right-span-size %}sm-4{% endblock %} wow fadeInDown">
                        {% block right_content %}{% endblock %}
                    </div>
                {% endblock %}
           </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->

{% endblock content %}

{% block partner %}
{% endblock partner %}

{% block conatcat-info %}
{% endblock conatcat-info %}

{% block bottom %}
    <div class="footer1">
        <div class="wrap text-center">
            <h3>IF A HIGH TECH COMPANY OFFERED CLEANING SERVICES</h3>
            <p>We're changing the image of cleaning companies by offering a convenient, Organic, and Fair Labor Service that gives remarkable cleaning delivered with a fully seamless online experience.</p>
            <a class="orangebu center-block" href="{% url 'page' 'orderform' %}#content">TRY US AND SEE WHAT THE FUSS IS ABOUT</a>
        </div>
    </div>
{% endblock bottom %}


    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->


<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
{% editable_loader %}
</body>
</html>
